<p id="notice"><%= notice %></p>

<div class="col-md-12">
  <h1>Menu<i class="glyphicon glyphicon-cutlery"></i></h1>
</div>
<div class="col-md-2">
</div>
<div class="col-md-10" id="menu_whole">
  <%@courses.each_slice(2) do |courses|%>
    <div class="row">
      <%courses.each do |course|%>
        <div class="col-md-6" id="menu_section">
          <span id="food_label"><%=course.name%></br></span>
          <%= image_tag asset_url("image#{course.id}.jpg"), id: "food"%></br>
            <%course.dishes.each do |dish|%>
              <span id="dish"><%=link_to dish.name, edit_dish_path(dish)%></span></br>
              <span id="price"><%p = dish.price%><%=number_to_currency(p)%></span></br>
              <span id="description"><%=dish.description%></span></br></br>
            <%end%>
            <i class="glyphicon glyphicon-plus"></i>
            <span id="new_dish">
              <%= link_to 'New Dish', new_dish_path(course_id: course.id) %>
            </span>
          </div>
      <%end%>
    </div>
  <%end%>
</div>
